.header {
    background-color: white;
    width: 100%;
    height:5rem;
    box-shadow: 0rem .5rem 1rem rgba(0,0,0,0.3);
    z-index: 100;
}

.title-container{
    max-width: 114rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 5rem;
}

.title {
    text-decoration: none;
    color: #3e3e3e;
    font-size: 1.9rem;
    font-weight: 700;
}
.gnav {
    display: flex;
    align-items: center;
}

.nav-item {
    list-style: none;   
}

.search-bar {
    font-size: 1.6rem;
    width:14rem;
    border-radius: 100rem;
    border: 1px solid #f1f1f1;
    margin-right: 2rem;
    padding: .5rem 2rem;
    outline: none;

}

.submit-btn {
    display: inline-block;
}

.nav-link{
    text-decoration: none;
    color: #3e3e3e;
    font-size: 1.4rem;
    padding:1.8rem 1rem;
    cursor: pointer;
    transition: all .2s;
}

.nav-link:hover{
    color: #f78733;
}